---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <div class="title">
      <h2><a href="#">{{ page.title | escape }}</a></h2>
      {% if page.subtitle %}
        <p>{{ page.subtitle }}</p>
      {% endif %}
    </div>
    <div class="meta">
      {% if page.date %}
        {% assign date_format = site.format.date_format | default: "%b %-d, %Y" %}
        {% assign meta_date_format = site.format.meta_date_format | default: "%Y-%m-%d" %}
          <time class="published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: date_format }}
        </time>
      {% endif %}
      {% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <a href="#" class="author">
            <span class="name" itemprop="name">{{ page.author }}</span><img src="/assets/img/avatar.jpg" alt="" />
          </a>
        </span>
      {% endif %}
    </div>
  </header>
  {% if page.image %}
    <span class="image featured"><img src="{{page.image}}" alt="" /></span>
  {% endif %}
  <div class="" itemprop="articleBody">
    {{content}}
  </div>
  <footer>
    <ul class="stats">
      {% if page.categories %}
        <td>
          {% for category in page.categories %}
          <li><a href="#">{{ category }}</a></li>
          {% endfor %}
        </td>
      {% endif %}
      <li>
        <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/fr/" target="_blank" class="" title="Texte sous licence Creative Commons CC BY-NC-SA">
        <img <img src="{{ "/assets/img/by-nc-sa.svg" | prepend: site.baseurl }}" alt="logo Creative Commons CC BY-NC-SA" />
      </a>
      </li>
      <!-- <li><a href="#" class="icon fa-heart">28</a></li>
      <li><a href="#" class="icon fa-comment">128</a></li> -->
    </ul>
  </footer>
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
